<html><head>
    <title>Streaming </title>
  </head>
  <body>
    
    
    <div class="row">
  
  
     <div class="column">
      <img src="/video_feed">
      
      </div>
    </div>
  
<div class="row">
     <div class="column">
      <img src="static/namaste.jpg" alt="Mountains" style="width: 128.312;">
      <img src="static/please.png" alt="Mountains" style="width: 182.75;">
      <img src="static/thank_you.jpg" alt="Mountains" style="width: 192.109;"></div>
    </div></body></html>